.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: inherit;
  border-radius: 8px;
}
.empty-msg {
  font-style: italic;
  color: #777;
  margin-top: 1rem;
}
.clear {
  margin: 1rem;
}

#task-list li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  text-decoration: none;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}
