.empty-msg {
  font-style: italic;
  color: #777;
  margin-top: 1rem;
}

#task-list li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  text-decoration: none;
}

.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}
