.d-none {
  display: none;
}

.italic {
  font-style: italic;
}

.brac::before {
  content: "(";
}

.brac::after {
  content: ")";
}

.done span {
  text-decoration: line-through;
  color: #999;
}

.toast-tip {
  font-size: 0.75em;
  color: #9999b9;
  font-weight: bold;
}